<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOP ASP.NET Web Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SOP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("SOP Dashboard", "SOPDashboard", "Home", new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Upload or Create SOP", "CreateUploadSOP", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SOP ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*Add this JavaScript in _Layout (when session end 1 minute before this code makes redirect, it makes count time after user last action, not first visit on site)*@

    <script>
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

        var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;

        var timeoutHandle = window.setTimeout("SessionEnd()", sTimeout);

        //setTimeout(function SessionEnd() {
        //    alert('layout');
        //    window.location = "/Home/LogOff";
        //}, sTimeout);

        function SessionEnd() {
            
        window.location = "/Home/LogOff";
        }

        function UpdateTimeoutTimer() {
            clearTimeout(myTimeReminder);
            clearTimeout(myTimeOut);
            myTimeReminder = setTimeout('doReminder()', sessionTimeReminder);
            myTimeOut = setTimeout('doRedirect()', sessionTimeout);
        } 
    </script>

</body>
</html>
