<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOP ASP.NET Web Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>


<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#6699FF">*@


    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#6699FF">

        <p class="nav navbar-text navbar-left;"><a href="@Url.Action("Index", "Home", new { id = "imghome" })"><img src="~/Content/Images/RadLogoBan.jpg" /> </a></p>

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("SOP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>


            <div class="navbar-collapse collapse">
                <p>
                    <ul class="nav navbar-nav">


                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@

                        @*<li>@Html.ActionLink("SOP Dashboard", "SOPDashboard", "Home", new { Style = "color:White;font-size:150%;font-weight: bold;", target = "_blank" })</li>*@
                        <li>@Html.ActionLink("SOP Dashboard", "SOPDashboard", "Home", new { Style = "color:White;font-size:150%;font-weight: bold;" })</li>

                        <li>@Html.ActionLink("Create/Upload SOP", "CreateUploadSOP", "Home", new { Style = "color:White;font-size:150%;font-weight: bold;" })</li>
                        @*<li>@Html.ActionLink("Data Maintenance (HR/IT)", "DataMaintHRIT", "Home", new { Style = "color:White;font-size:150%;font-weight: bold;" })</li>*@
                    </ul>
                </p>
                @*@User.Identity.Name!*@

                @*<p class="nav navbar-text navbar-right" style="color:white">Hello, @Session["UserFullName"] </p>*@

                <p class="nav navbar-text navbar-right" style="color:white;">

                    @Html.ActionLink("Data Maintenance (HR/IT)", "DTM", "Home",
                    new { Style = "color:White;font-weight: bold;text-decoration:none;font-size:100%;" })

                    <br />
                    @Html.ActionLink("Access SOP Archive", "AccessArchive", "Home",
                    new { Style = "color:White;font-weight: bold;text-decoration:none;font-size:100%;" })


                </p>

            </div>

            @*<div class="navbar-collapse collapse">*@
        </div>
    </div>

    <div class="container body-content">

        @if (Session["ShowTitle"] != null && Session["ShowTitle"].ToString().Trim().ToLower() == "yes")
        {

            @*<div class="col-md-12" style="font-size: 36px;margin-top:4%">*@

            <div class="col-md-12 soptitle">

                <b>
                    @if (TempData["PageTitle"] != null)
                    {
                        @TempData["PageTitle"]
                    }

                    else if (Session["PageTitle"] != null)
                    {

                        @Session["PageTitle"]
                    }


                </b>
            </div>
        }


        <div id="sopalert" class="w3-modal" style="top:15%">
            <div class="w3-modal-content" style="width:32%">

                <header class="w3-container w3-teal" style="background-color:darkred!important">
                    <span onclick="document.getElementById('sopalert').style.display='none'"
                          class="w3-button w3-display-topright">&times;</span>
                    <h2>SOP Alert</h2>
                </header>

                <div class="w3-container" style="text-align:center">
                    <p id="sopalertmsg">Some text..</p>
                </div>

                @*<footer class="w3-container w3-teal">
                        <p>Modal Footer</p>
                    </footer>*@

            </div>
        </div>


        <div id="sopconfirm" class="w3-modal" style="top:15%">
            <div class="w3-modal-content" style="width:32%">

                <header class="w3-container w3-teal" style="background-color:darkred!important">
                    <span onclick="document.getElementById('sopconfirm').style.display='none'"
                          class="w3-button w3-display-topright">&times;</span>
                    <h2>SOP Confirmation</h2>
                </header>

                <div class="w3-container" style="text-align:center">
                    <p id="sopconfirmmsg">Some text..</p>
                </div>

                @*<footer class="w3-container w3-teal">
                <p>Modal Footer</p>
            </footer>*@

            </div>
        </div>

        <div class="col-md-12">
            @RenderBody()
        </div>

        @*<footer>
                <p>&copy; @DateTime.Now.Year - SOP ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*Add this JavaScript in _Layout (when session end 1 minute before this code makes redirect, it makes count time after user last action, not first visit on site)*@

    <script>

        window.alert = function (message, title) {
            var myElementToShow = document.getElementById("sopalert");

            var myAlertToShow = document.getElementById("sopalertmsg");

            myAlertToShow.innerHTML = '</br>' + message + "</br></br>" + "<input type='button' value='OK' id='btnalert' onclick='closealert()' />";

            myElementToShow.style.display = "block";

        }


        function closealert() {

            var myElementToShow = document.getElementById("sopalert");
            myElementToShow.style.display = "none";

        }


        function closeconfirm() {

            var myElementToShow = document.getElementById("sopconfirm");
            myElementToShow.style.display = "none";

        }


        window.confirm = function (message, yesCallback, noCallback) {
            var myElementToShow = document.getElementById("sopconfirm");

            var myAlertToShow = document.getElementById("sopconfirmmsg");

            myAlertToShow.innerHTML = '</br>' + message + "</br></br>" + "<input type='button' value='Yes' id='btnYes' />" + "&nbsp" + "&nbsp" + "&nbsp" + "&nbsp" + "&nbsp" + "&nbsp" + "<input type='button' value='No' id='btnNo' />";

            myElementToShow.style.display = "block";

            $('#btnYes').click(function () {
                closeconfirm();
                yesCallback();
            });
            $('#btnNo').click(function () {
                closeconfirm();
                noCallback();
            });

        }




        //function closealertok() {

        //    var myElementToShow = document.getElementById("sopalert");

        //    document.getElementById("cinfirmmsg").value = true;

        //    alert(document.getElementById("cinfirmmsg").value);



        //    confirmmsg = true;

        //    myElementToShow.style.display = "none";
        //    alert(confirmmsg);
        //    //return true;
        //}

        //function closealertcan() {

        //    var myElementToShow = document.getElementById("sopalert");

        //    confirmmsg = false;

        //    myElementToShow.style.display = "none";
        //    alert('cancel called');
        //    //window.confirm = false;
        //}




    </script>

</body>
</html>
