@model SOPManagement.Models.SOPSignatureModel


@{

    TempData["PageTitle"] = "Signing Off on SOP";
    Session["ShowTitle"] = "yes";
}


@*<div style="font-size:36px;font-weight:bold">

    @if (ViewBag.Title != null)
    {
        @ViewBag.Title
    }
    else
    {
        @TempData["PageTitle"]
    }

</div>*@


@using (Html.BeginForm("SignSOP", "Home", FormMethod.Post, new { @id = "form1" }))
{

    <div>

        @*@Model.SOPNo
            @Model.LoggedInUserEmail

            @Html.Hidden("SOPNo", Model.SOPNo)  <br /><br />*@

        <p>
            <table>

                <tr>
                    <td class="signoffield">

                        @Html.DisplayNameFor(model => model.SOPName):

                    </td>
                    <td>
                        @Model.SOPName
                    </td>
                </tr>

                <tr>
                    <td class="signoffield">
                        @Html.DisplayNameFor(model => model.SOPNo):
                    </td>
                    <td>
                        @Model.SOPNo
                    </td>
                </tr>
                <tr>
                    <td class="signoffield">
                        @Html.DisplayNameFor(model => model.SOPUrl):
                    </td>
                    <td>
                        <a href="@Model.SOPUrl" target="_blank">@Model.SOPName SOP</a>
                    </td>
                </tr>
                <tr>
                    <td class="signoffield">
                        @Html.DisplayNameFor(model => model.SOPFilePath):
                    </td>
                    <td>
                        @Model.SOPFilePath
                    </td>
                </tr>

            </table>
        </p>


        <p>
            <table>
                <tr>
                    <td class="signoffield">
                        You are signatory of SOP as:
                    </td>
                    @if (Model.LoggedInUserAllStatus != "")
                    {
                        <td>
                            @Model.LoggedInUserAllStatus
                        </td>

                    }

                </tr>


            </table>

        </p>

        <p>

            <table>
                <tr>
                    <td class="signoffield" colspan="4">
                        SOP Owner Signature:
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.Label("Name"):
                    </th>
                    <th>
                        @Html.Label("Title"):
                    </th>
                    <th>
                        @Html.Label("Signature"):
                    </th>

                    <th>
                        @Html.Label("Sign Date"):
                    </th>
                </tr>

                <tr>
                    <td>
                        @Model.SOPOwnerSignature.userfullname
                    </td>

                    <td>
                        @Model.SOPOwnerSignature.userjobtitle
                    </td>


                    @if (Model.LoggedInUserIsOwner == "yes")
                    {
                        <td style="text-align:center">
                            @if (Model.LoggedInSignedAsOwner)
                            {
                                @Model.SOPOwnerSignature.signstatus

                            }
                            else
                            {
                                @Html.CheckBoxFor(model => model.LoggedInSignedAsOwner)
                            }
                        </td>
                        <td>
                            @Model.LoggedInSignDate.ToString("MMMM dd, yyyy")
                        </td>
                    }

                    else
                    {
                        <td style="text-align:center">
                            @Model.SOPOwnerSignature.signstatus
                        </td>
                        <td>
                            @if (Model.SOPOwnerSignature.signaturedate.Year > 80)
                            {
                                @Model.SOPOwnerSignature.signaturedate.ToString("MMMM dd, yyyy")

                            }
                        </td>
                    }



                </tr>

            </table>
        </p>

        <p>
            <table>
                <tr>
                    <td class="signoffield" colspan="4">
                        SOP Approver Signature:
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.Label("Name"):
                    </th>
                    <th>
                        @Html.Label("Title"):
                    </th>
                    <th>
                        @Html.Label("Signature"):
                    </th>

                    <th>
                        @Html.Label("Sign Date"):
                    </th>
                </tr>

                <tr>
                    <td>
                        @Model.SOPApprvrSignature.userfullname
                    </td>

                    <td>
                        @Model.SOPApprvrSignature.userjobtitle
                    </td>


                    @if (Model.LoggedInUserIsApprover == "yes")
                    {
                        <td style="text-align:center">
                            @if (Model.LoggedInSignedAsApprover)
                            {
                                @Model.SOPApprvrSignature.signstatus
                            }
                            else
                            {
                                @Html.CheckBoxFor(model => model.LoggedInSignedAsApprover)
                            }
                        </td>
                        <td>
                            @Model.LoggedInSignDate.ToString("MMMM dd, yyyy")
                        </td>
                    }

                    else
                    {
                        <td style="text-align:center">
                            @Model.SOPApprvrSignature.signstatus
                        </td>
                        <td>
                            @if (Model.SOPApprvrSignature.signaturedate.Year > 80)
                            {
                                @Model.SOPApprvrSignature.signaturedate.ToString("MMMM dd, yyyy")

                            }
                        </td>
                    }



                </tr>

            </table>
        </p>

        <p>

            <table>

                <tr>
                    <td class="signoffield" colspan="4">
                        SOP Reviewer's Signature(s):
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.Label("Name"):

                    </th>
                    <th>
                        @Html.Label("Title"):

                    </th>
                    <th>
                        @Html.Label("Signature"):

                    </th>
                    <th>
                        @Html.Label("Sign Date"):

                    </th>


                </tr>

                @for (int i = 0; i <= Model.SOPRvwerSignatures.Count() - 1; i++)
                {
                    <tr>
                        <td>
                            @Model.SOPRvwerSignatures[i].userfullname
                        </td>

                        <td>
                            @Model.SOPRvwerSignatures[i].userjobtitle
                        </td>

                        @if (Model.LoggedInUserIsReviewer == "yes" && Model.LoggedInUserEmail.Trim().ToLower() == @Model.SOPRvwerSignatures[i].useremailaddress.Trim().ToLower())
                        {

                            <td style="text-align:center">
                                @if (@Model.SOPRvwerSignatures[i].HasSignedSOP)  //signed
                                {
                                    @Model.SOPRvwerSignatures[i].signstatus
                                }
                                else
                                {
                                    @Html.CheckBox("LoggedInSignedAsReviewer", Model.SOPRvwerSignatures[i].HasSignedSOP)
                                }
                            </td>
                            <td>
                                @if (@Model.SOPRvwerSignatures[i].signaturedate.Year > 80)
                                {
                                    @Model.SOPRvwerSignatures[i].signaturedate.ToString("MMMM dd, yyyy")
                                }


                            </td>


                        }

                        else

                        {
                            <td style="text-align:center">
                                @Model.SOPRvwerSignatures[i].signstatus
                            </td>

                            <td>
                                @if (Model.SOPRvwerSignatures[i].signaturedate.Year > 80)
                                {
                                    @Model.SOPRvwerSignatures[i].signaturedate.ToString("MMMM dd, yyyy")
                                }
                            </td>

                        }
                    </tr>

                }

            </table>

        </p>

        <p>
            <table>

                <tr>
                    <td width="30%">
                        <input type="checkbox" name="sgnagrmnt" value="false" id="chksignAgrmnt" onchange="isChecked(this, 'sopsubmit')" />
                        <label for="sgnagrmnt"> <b>Check BOX to "SIGN Agreement" </b> </label>
                    </td>
                </tr>
                <tr>
                    <td>

                        NOTE: Checking this BOX under your name, means that you approve of the document and
                        are in agreement to electronically sign the document. After submitting document will
                        be signed and dated electronically.

                    </td>

                </tr>

                <tr>

                    <td style="text-align:center">
                        @*<input type="submit" value="Submit" disabled="disabled" id="sopsubmit" />*@
                        <input type="submit" value="Submit" id="sopsubmit"  onclick="return clicksubmit();" />


                    </td>
                </tr>

            </table>
        </p>

    </div>



}

<script>


    function clicksubmit() {


        var signed=false;
        //var aprvrsigned=false;
        //var rvwrsigned=false;


        var ownerchk = document.getElementById("LoggedInSignedAsOwner");
        var aprvrchk = document.getElementById("LoggedInSignedAsApprover");
        var rvwrchk = document.getElementById("LoggedInSignedAsReviewer");


        if (ownerchk == null && aprvrchk == null && rvwrchk == null) {

            alert("The SOP is signed by all signatories.");
            document.getElementById("chksignAgrmnt").checked = false;
            return false;


        }


        if (ownerchk != null && ownerchk.checked)
            signed = true;

        if (aprvrchk != null && aprvrchk.checked)
            signed = true;

        if (rvwrchk != null && rvwrchk.checked)
            signed = true;



        //if (!document.getElementById("chksignAgrmnt").checked) {
        //    alert("Please select agreement checkbox to comeplete signing the SOP.");
        //    return false;
        //}


        if (!signed)
            {
                
                alert("Please sign SOP first.");
                document.getElementById("chksignAgrmnt").checked = false;
                return false;

            }

         else {   //signed , now check agreement

                if (!document.getElementById("chksignAgrmnt").checked) {
                    alert("Please select agreement checkbox to comeplete signing the SOP.");
                    return false;
                }
                else  //signed and agreed
                    return true;
            }
   

    }

    function isChecked(checkbox, sub1) {
        var button = document.getElementById(sub1);

        if (checkbox.checked == true) {
            button.disabled = "";
        } else {

            alert("Please select agreement checkbox to sign the SOP.");

            button.disabled = "disabled";
        }
    }

    $(document).ready(function () {
        PrepAgrmntChckbox();
    });
    function PrepAgrmntChckbox() {
        document.getElementById("chksignAgrmnt").checked = false;
    }



</script>
