<div class="sopmessagebox">

    <div style="font-size:36px;font-weight:bold">

        @if (TempData["PageTitle"] != null)
        {
            @TempData["PageTitle"]
        }

        else if (Session["PageTitle"] != null)
        {

            @Session["PageTitle"]
        }


    </div>


    @if ((Session["SOPMsg"].ToString().ToLower().Contains("failed"))
        || (Session["SOPMsg"].ToString().ToLower().Contains("error")))
    {
        <font color="red"><b>ERROR:</b> </font>@Session["SOPMsg"].ToString().Replace("Error:", "")
    }
    else

    {

        <b>Success: </b>@Session["SOPMsg"].ToString().Replace("Success:", "")

    }
    <br />
    <b> SOP Name:</b> @Session["SOPName"].ToString()
    <br />
    <br />
    @*<button onclick="goBack()">Go Back</button>*@
</div>


<script>
    function goBack() {
        window.history.back();
    }
</script>
