<div class="sopmessagebox">

    <div style="font-size:36px;font-weight:bold">

        @if (ViewBag.Title != null)
        {
            @ViewBag.Title
        }
        else
        {
            @TempData["PageTitle"]
        }

    </div>


    @if ((TempData["SOPMsg"].ToString().ToLower().Contains("failed"))
        || (TempData["SOPMsg"].ToString().ToLower().Contains("error")))
    {
        <font color="red"><b>ERROR:</b> </font>@TempData["SOPMsg"].ToString().Replace("Error:", "")
    }
    else

    {

        <b>Success: </b>@TempData["SOPMsg"].ToString().Replace("Success:", "")

    }
    <br />
    <b> SOP Name:</b> @TempData["SOPName"].ToString()
    <br />
    <br />
    <button onclick="goBack()">Go Back</button>
</div>


<script>
    function goBack() {
        window.history.back();
    }
</script>
